<html>
<head>
	<title>User Page/Private Show Page</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1> <%=user.name%> ... private show page</h1>
Need a list of the user's blogs with links to the edit/update page and a delete button ...

			<% for (var i = 0; i < user.blog.length; i++) { %>	
				<a href="/users/show/<%=user.blog[i]._id%>"><li>GO TO SHOW PAGE ... SEE: <%=user.blog[i].title%></li></a>

				<a href="/users/edit/<%=user.blog[i]._id%>"><li>Go to EDIT Page ... SEE/EDIT: <%=user.blog[i].title%></li></a> <br>
				<%=user.blog[i]._id%><br>
			
			<form action='/users/<%=user._id%>?_method=DELETE' method='POST'>
				<input type='hidden' name='blog_id' value='<%=user.blog[i]._id%>'>
				<button>Delete</button>
			</form>

			<%	} %>

	<br>	
	Need a logout function >>>>>>> <button>Logout</button>
	<br>
	<button><a href="/users/<%=user._id%>/new">CREATE A NEW POST</a></button>		
	<br>
	<a href="/allusers">Link back go all users</a>
</body>
</html>