<html>
<head>
	<title>USER Blog Post Show UPDATE PAGE</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
</head>
<body>
	<nav>
		<div class='navdiv'><a href="/users/<%=blogpost.blogger%>">Go back to your home page</a></div>
		<div class='navdiv'><a href="/">See other blogs</a></div>
	</nav>
	<br>
	<h1><%=blogpost.title%></h1>
	<h2><%=blogpost.hed%></h2>
	<br>
			<div id='private-post'><%=blogpost.dek%></div>
		<br>	<hr>
		<div class='ispublished'>
				<% if (blogpost.published) { %>
					<p>Published Status: Published!</p>
				<% } else { %>
					<p>Published Status: Not published!</p>
			<%	}	%>
		</div>
		<form class='compress' action='/users/<%=blogpost._id%>?_method=PUT' method='POST'>
			<input type='hidden' name='title' value='<%=blogpost.title%>'>
			<input type='hidden' name='hed' value='<%=blogpost.hed%>'>
			<input type='hidden' name='dek' value='<%=blogpost.dek%>'>
			<input type='hidden' name='date'>
			<input type='hidden' name='published' value='true'>
			<input type='hidden' name='blogger' value='<%=blogpost.blogger%>'>
			<button class='editButtons'>Publish</button>
		</form><br> 

		<form class='compress' action='/users/<%=blogpost._id%>?_method=PUT' method='POST'>
			<input type='hidden' name='title' value='<%=blogpost.title%>'>
			<input type='hidden' name='hed' value='<%=blogpost.hed%>'>
			<input type='hidden' name='dek' value='<%=blogpost.dek%>'>
			<input type='hidden' name='date'>
			<input type='hidden' name='published' value='false'>
			<input type='hidden' name='blogger' value='<%=blogpost.blogger%>'>
			<button class='editButtons'>Take down post</button>
		</form> 

	<script type="text/javascript" src='/js/script.js'></script>	
</body>
</html>