<html>
<head>
	<title>USER Blog Post Show UPDATE PAGE</title>
</head>
<body>
	<h1>Blog Post Show Page</h1>
		<br>
		<%=blogpost._id%>
		<br>
		<%=blogpost.title%>
		<br>
		<%=blogpost.hed%>
		<br>
		<%=blogpost.dek%>
	<br>	
		
	<a href="/users/<%=blogpost.blogger%>">Go back your home</a><br>
	<a href="/">See other blogs!</a>
</body>
</html>