<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
</head>
<body>
	<nav>
		<div class='navdiv'><a href="/allusers">Go back to the signup/login page</a></div>
		<div class='navdiv'><a href="/allusers/<%=blogpost.blogger%>">Go back to the author's page</a></div>
	</nav>
	<br>
		<h1><%=blogpost.title%></h1>
		<h2><%=blogpost.hed%></h2>
		<div id="public-post"><%=blogpost.dek%></div>
		<br>

		<% if (login && user.id == blogpost.blogger) { %>
			<form  action='/allusers/blog/<%=blogpost._id%>' method='POST'>
				<textarea id='comment-form' name='comments' placeholder='If you care to comment, this is the place to do it...'></textarea>
				<br>
				<button>Post your comment</button>
			</form>
			<a href="/users/<%=blogpost.blogger%>">Go back to your page</a>
			<br>
		<% } else if (login) { %>
			<form  action='/allusers/blog/<%=blogpost._id%>' method='POST'>
				<textarea id='comment-form' name='comments' placeholder='If you care to comment, this is the place to do it...'></textarea>
				<br>
				<button>Post your comment</button>
			</form>
		<% } else { %>  
			<p>See comments below</p>
		<% } %> 
		
		<div>Comments: </div>
		<% if (login && user.id == blogpost.blogger)  { %>
			<% for (var i = 0; i < blogpost.comments.length; i++ ) { %>
				<div class='comment-box'><%=blogpost.comments[i].comments%></div>
				<form action='/allusers/blog/<%=blogpost._id%>?_method=DELETE' method='POST'>
					<input type='hidden' name='comments_id' value='<%=blogpost.comments[i]._id%>'>
					<button>Delete comments</button>
				</form>
		  <%	} %>
		<% } else { %>
				<% for (var i = 0; i < blogpost.comments.length; i++ ) { %>
				<div class='comment-box'><%=blogpost.comments[i].comments%></div>
		  <%	} %>
		 <% } %>
	

	<script type="text/javascript" src='/js/script.js'></script>	
</body>
</html>