<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
</head>
<body>
	<nav>
		<div class='navdiv'><a href="/">Go back to home page</a></div>
		<div class='navdiv'><a href="/allusers">Go to the signup/page</a></div>
	</nav>
	<br>
	<h1 id='showh1'> <%=users.name%>'s Blog </h1>

		<% if (login && user.id == users._id) { %>
			<% for (var i = 0; i < users.blog.length; i++) { %>	
				<% if (users.blog[i].published) { %>
				Post <%=[i+1]%>:
					<a href="/allusers/blog/<%=users.blog[i]._id%>"><li> <%=users.blog[i].title%></li></a><br>
				<% } %>
				<a href="/users/<%=users._id%>">Go back to your page</a> ~ 
				<a href="/">Go to home page</a>
			<%	} %><br>

		<% } else { %>
			<% for (var i = 0; i < users.blog.length; i++) { %>	
				<% if (users.blog[i].published) { %>
				Post <%=[i+1]%>:
					<a href="/allusers/blog/<%=users.blog[i]._id%>"><li> <%=users.blog[i].title%></li></a><br>
				<% } %>
			<%	} %><br>
				<a href="/">Go to home page</a>
		<% } %>
	<script type="text/javascript" src='/js/script.js'></script>	
</body>
</html>